@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --border-radius-image: 50%;
    --border-radius-container: 12px;
    --border-radius-button: 10px;
    --gradient-light-purple: #2a0055;
    --gradient-deep-purple: #0f0a1e;
    --color-title-white: azure;
    --color-off-white: #F1F1FF;
    --color-link-white: antiquewhite;
    --button-background-purple: #2c2543;
    --button-text-color: #2C0A55;
    --container-blur: rgba(255, 255, 255, 0.05);
    --shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom left, var(--gradient-light-purple) , var(--gradient-deep-purple) );
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", serif;
}


.container {
    background-color: var(--container-blur);
    backdrop-filter: blur(8px);
    max-width: 350px;
    width: 350px;
    height: 600px;
    margin: 60px auto;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: var(--border-radius-container);
    box-shadow: var(--shadow);
}

.image img {
    height: 96px;
    width: 96px;
    border-radius: var(--border-radius-image);
    border: 2px solid white;
}

.info {
    margin-top: 10px;
    margin-bottom: 15px;
}

.info h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 900;
    color: var(--color-title-white);
}

.info h2 {
    
    font-size: 20px;
    font-weight: 500;
    color: var(--color-off-white);
    font-style: bold;
}

.easter-egg p {
    font-weight: 200;
    font-style: italic;
    color: var(--color-off-white);
}

.link-list {
    margin-top: 20px;
}

.link-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-list a{
    text-decoration: none;
    color: var(--color-link-white);
    text-align: center;
    font-style: bold;
}

.link-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 280px;
    height: 45px;
    border-radius: var(--border-radius-button);
    background: var(--button-background-purple);
    transition: background .4s ease;
    &:hover{
        background: var(--color-off-white);
        color: var(--button-text-color);
    }
}